 <div style = "text-align : right">
  <input type="text" name="name" [(ngModel)]="searchtext" placeholder="SEARCH">
 </div>
 <table class = "center">
  <thead>
    <tr>
      <th>USERNAME</th>
      <th>PASSWORD</th>
      <th>User Login Date & Time</th>
    </tr>
  </thead>
  <tbody *ngIf="tabledata.length >=4">
    <tr *ngFor = "let x of tabledata | search: searchtext | paginate: {itemsPerPage : 2, currentPage : p}; ">
    <td>{{ x.username }}</td>
    <td>{{ x.password }}</td>
    <td>
      <p>Date: {{today | date:'fullDate'}}</p>
      <p>Time: {{today | date:'h:mm a z'}}</p>
    </td>
    </tr>
  </tbody>
</table>
  <div style = "text-align: center">
  <pagination-controls (pageChange) ="p = $event"></pagination-controls>
    <button (click)="logout()">Logout</button>
  </div>
