<div id="formstyle">
<form #loginform = "ngForm">
  <div class = "form-group" id="usn">
    <label> USERNAME </label>
    <input type ="text" required #username = "ngModel" class = "form-control"
    name = "username" [(ngModel)] = "signin.username">
  </div>
  <label> PASSWORD </label>
  <input type ="password" name= "password" required [(ngModel)] = "signin.password">
  <div id="butn">
    <button [disabled] = "loginform.form.invalid" (click) = "login()">LOGIN</button>
  </div>
</form>
<div *ngIf = "loggedin">
  <p>{{ comment }}</p>
</div>
<div *ngIf = "tabledata.length >= 4">
  <div id="butn">
    <button (click)="changePage()">ChangePage</button>
  </div>
</div>

